*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body canvas{
  width: 100%;
  height: 100%;
}

canvas{
  background-color: greenyellow;
  border: 1px solid pink;
  color: pink;
}