*{
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: small;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.87);
  background-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100vw;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/* header section--------------------- */
header{

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav ul{
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  border: 1px solid #5252522e;
  padding: 10px;
  border-radius: 50px;

  background-color: #f0f0f0;
}

li{
  list-style: none;
}

li:hover{
  background-color: #1a1a1a;
  color: #535bf2;
}

.padd{
  margin-top: 10px;
  padding: 10px;
  max-width: 600px;
  border: 1px solid #5252522e;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.company{
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: left;
}

.item_1{
  max-width: 200px;
  gap: 10px;
}

.item_2{
  max-width: 200px;
  gap: 10px;
}

.item_3{
  max-width: 150px;
}

.pricing{
  max-width: 400px;
  text-align: left;
  display: flex;
}

.purple-button{
  background-color: purple;
  color: white;
  border-radius: 50px;
}

/* header section--------------------- */
/* main section--------------------- */
main{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer{
  width: 100%;
}

a {
  font-weight: 500;
  color: #1a1a1a;
  text-decoration: inherit;
}
a:hover {
  color: #213547;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em rgba(247, 223, 30, 0.667));
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

/* main section--------------------- */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
