header {
  display: flex;
  border-right: 1px solid pink;
  border-left: 1px solid pink;
  height: 40px;
  align-items: center;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

ul {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

.ul-estilo {
  display: flex;
  flex-direction: column;
  border: 1px solid pink;
  position: absolute;
  right: 0;
  top: 0;
}