header{
  display: flex;
  border-right: 1px solid pink;
  border-left: 1px solid pink;
  height: 40px;
  align-items: center;
  max-width: 600px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

ul{
  display: flex;
  gap: 20px;
}

li{
  list-style: none;
}